.pageContainer {
    padding: 3rem 1rem;
    min-height: calc(100vh - 10rem);
 }
 .header {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
 }
 .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark);
 }
 .content {
    line-height: 1.7;
    font-size: 1rem;
    color: var(--text-medium);
 }
 
 
 .content p {
    margin-bottom: 1rem;
 }
 
 
 @media (min-width: 768px) {
    .title {
        font-size: 2.5rem;
    }
    .content {
        font-size: 1.1rem;
    }
 }
 
 
 
 